<DModalBody @rawTitle={{this.modalTitle}}>
  {{#if this.badge}}
    <div class="badge-details-container">
      <div class="badge-details-content">
        <img src={{this.badge.metadata.image}} class="badge-image" />
        <div>
          {{#if this.attestationType}}
            <span class="badge-type">{{this.attestationType}}</span>
          {{/if}}
          <span>{{if this.badge this.badge.metadata.description}}</span>
        </div>
      </div>
      <div class="links">
        <a
          class="link"
          href={{this.badge.desocLink}}
          alt="Attestation website"
          target="_blank"
          rel="noopener"
        >
          View SBT holders
        </a>
        <a
          class="link"
          href={{this.badge.metadata.external_link}}
          alt="credential website"
          target="_blank"
          rel="noopener"
        >
          View SBT specification
        </a>
        <a
          class="link"
          href={{this.badge.txLink}}
          alt="credential website"
          target="_blank"
          rel="noopener"
        >
          Etherscan transaction
        </a>
      </div>
    </div>
  {{/if}}
</DModalBody>