<DModalBody @rawTitle={{this.modalTitle}}>
  {{#if this.badge}}
    <div class="badge-details-container">
      <div class="badge-details-content">
        <img src={{this.badge.metadata.image}} class="badge-image" />
        <div>
          <h2 class="badge-name">{{this.badge.metadata.name}}</h2>
          <span class="badge-type">Badge Type:
            <b>{{this.attestationType}}</b></span>
          <span class="badge-description">{{if
              this.badge
              this.badge.metadata.description
            }}</span>
        </div>
      </div>
      <div class="badge-details__footer">
        <a
          class="link"
          href={{this.badge.desocLink}}
          alt="Attestation website"
          target="_blank"
          rel="noopener"
        >
          View holders
          {{d-icon "external-link-alt"}}
        </a>
        <a
          class="link"
          href={{this.badge.metadata.external_link}}
          alt="credential website"
          target="_blank"
          rel="noopener"
        >
          More info
          {{d-icon "external-link-alt"}}
        </a>
        <a
          class="link"
          href={{this.badge.txLink}}
          alt="credential website"
          target="_blank"
          rel="noopener"
        >
          Txn
          {{d-icon "external-link-alt"}}
        </a>
      </div>
    </div>
  {{/if}}
</DModalBody>