<DModalBody @rawTitle={{this.modalTitle}}>
  {{#if this.badge}}
    <div class="badge-details-container">
      <div class="badge-details-content">
        <img src={{this.badge.metadata.image}} class="badge-image" />
        <div>
          {{#if this.attestationType}}
            <span class="badge-type">{{this.attestationType}}</span>
          {{/if}}
          <span>{{if this.badge this.badge.metadata.description}}</span>
          <div class="links">
            <a
              class="link"
              href={{this.badge.desocLink}}
              alt="Attestation website"
              target="_blank"
              rel="noopener"
            >
              View holders
            </a>
            <a
              class="link"
              href={{this.badge.metadata.external_link}}
              alt="credential website"
              target="_blank"
              rel="noopener"
            >
              More info
            </a>
            <a
              class="link"
              href={{this.badge.txLink}}
              alt="credential website"
              target="_blank"
              rel="noopener"
            >
              View on block explorer
            </a>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</DModalBody>